html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #F9F5EB;
}


.hover-bold:hover {
    border-bottom:  rgba(0, 0, 0, 0.8) 2px solid;
}

#login-btn {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    color: white;
}
#login-btn:hover {
    color: rgba(0, 0, 0, 0.7);
}

