






<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <h2 class="fw-bold mb-2 text-uppercase text-center"><img src="https://cdn-icons-png.flaticon.com/512/21/21601.png" style="width: 20%"/> | Your news website</h2>
                

                <div class="card bg-white">
                    <div class="card-body p-5">
                        
                        @{
                            if (@TempData["userRegistered"] != null)
                            {
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    @TempData["userRegistered"]
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }
                        }
                        <h3 class=" fw-bold ">Sign In</h3>
                        <form class="mb-3 mt-md-4" method="post" asp-controller="Account" asp-action="SignIn">


                            <div class="mb-3">
                                <label for="username" class="form-label ">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="Username" name="Username">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label ">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="*******" name="Password">
                            </div>
                            <p class="small">
                                <a class="text-primary">Forgot password?</a>
                            </p>
                            <div class="d-grid">
                                <button class="btn btn-outline-dark" type="submit" value="SignIn">
                                    Sign
                                    in
                                </button>
                            </div>
                        </form>
                        <div>
                            <p class="mb-0  text-center">
                                Don't have an account?
                                <a class="text-primary fw-bold" asp-action="SignUp" asp-controller="Account">
                                    Sign
                                    Up
                                </a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>