@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card bg-white">
                    <div class="card-body p-5">
                        <form class="mb-3 mt-md-4">
                            <h2 class="fw-bold mb-2 text-uppercase text-center"><img src="https://cdn-icons-png.flaticon.com/512/21/21601.png" style="width: 20%"/> | Your news website</h2>

                            <div class="mb-3">
                                <label for="email" class="form-label ">Email address</label>
                                <input type="email" class="form-control" id="email" placeholder="name@example.com">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label ">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="*******">
                            </div>
                            <p class="small">
                                <a class="text-primary" href="">Forgot password?</a>
                            </p>
                            <div class="d-grid">
                                <button class="btn btn-outline-dark" type="submit">
                                    Sign
                                    in
                                </button>
                            </div>
                        </form>
                        <div>
                            <p class="mb-0  text-center">
                                Don't have an account?
                                <a href="" class="text-primary fw-bold">
                                    Sign
                                    Up
                                </a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>